<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#myTable").dataTable();
        });
    </script>
</head>

<body class="gradient">
    <!--Menu-Navigation-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class=" navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#212121">
        <div class="container-fluid" id="gradient">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle navigation button</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img /></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">

                @{
                    if (Session["admin"] == null)
                    {


                        <ul class="nav navbar-nav">
                            <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px ;font-size: 20px;"><a style="color:white" class="active" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            @{
                                if (Session["customer"] == null)
                                {
                                    <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px; font-size: 20px;"><a style="color:lightgray" class="active" href="@Url.Action("Register", "Home")"><span class="glyphicon glyphicon-user"></span>Register</a></li>
                                }
                            }

                            <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px; font-size: 20px;"><a style="color:lightgray" class="active" href="@Url.Action("Cart", "Cart")"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>

                            @{
                                if (Session["customer"] == null)
                                {
                                    <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px; font-size: 20px;"><a style="color:lightgray" class="active" href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                }
                                else
                                {
                                    <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px; font-size: 20px;"><a style="color:lightgray" class="active" href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                }
                            }


                            <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px; font-size: 20px;"><a style="color:lightgray" class="active" href="@Url.Action("AdminLogin", "Admin")"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>

                        </ul>
                    }
                    else
                    {

                        <ul class="nav navbar-nav">
                            <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px ;font-size: 20px;"><a style="color:white" class="active" href="@Url.Action("AdminIndex", "Admin")"><span class="glyphicon glyphicon-home"></span>AdminHome</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li style="float: left; padding: 10px; height: 100%; text-transform: uppercase; letter-spacing: 4px; line-height: 60px; font-size: 20px;"><a style="color:lightgray" class="active" href="@Url.Action("Logout", "Admin")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>


                    }
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="color:black">
            <p>&copy; @DateTime.Now.Year - Movie application project s315589 Maja Zofia Kiszka, s315562 Iryna Martynchuck, s315699 Maria Mikhaylova</p>

        </footer>
    </div>
</body>
</html>