@model List<MovieApp.Model.Movie>

@{
    ViewBag.Title = "Cart";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.delete').click(function () {
                var id = $(this).attr('dataid');
                $.ajax({
                    url: "/Cart/Delete",
                    data: { id: id },
                    success: function () {
                        $.ajax({
                            url: '@Url.Action("Cart", "Cart")',
                            success: function () {
                                $.ajax({
                                    url: '@Url.Action("Index","Home")',
                                    success: function () {
                                        window.location.reload();
                                    }
                                });
                            }
                        });
                    }
                });
            });

            $('#confirm').click(function () {
               $.ajax({
                   url: '@Url.Action("Confirmation", "Cart")',
                   success: function (message) {
                               alert(message);
                              window.location.reload();
                           }
});
          });
        });

    </script>
</head>
<body>
    <div class="panel panel-defaul" style="margin: 7% 2% 2% 2%; color: black; font-size:15px" >
        <div class="table-responsive">
            <table class="table table-responsive table-bordered table-hover col-xm-offset-2 col-xm-10" cellspacing="0" width="100%">
                <tr>
                    <th>#</th>
                    <th style="text-align:left">TITLE</th>
                    <th style="text-align:left">GENRE</th>
                    <th style="text-align:left">PRICE</th>
                    <th style="text-align:left"></th>
                </tr>
                @{
                    double total = 0;
                }

                @foreach (var movie in Model)
                {
                    var moviePrice = movie.Price;
                    total = total + moviePrice;

                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td><button class="btn btn-danger delete col-sm-offset-2 col-sm-10" dataid="@item.Id">Remove</button></td>
                    </tr>

                }
                <tr style="font-size:25px; font-style: oblique">
                    <td align="left" colspan="3">
                        TOTAL
                    </td>
                    <td align="right">
                        @(total) NOK
                    </td>
                    <td>
                        <button class="btn btn-confirm delete col-sm-offset-2 col-sm-10" id="confirm">@Html.ActionLink("Confirm your order", "Confirmation")</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>