@model List<MovieApp.Model.Movie>

@{
    ViewBag.Title = "Cart";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.delete').click(function () {
                var id = $(this).attr('dataid');
                $.ajax({
                    url: "/Cart/Delete",
                    data: { id: id },
                    success: function () {
                        $.ajax({
                            url: '@Url.Action("Cart", "Cart")',
                            success: function () {
                                $.ajax({
                                    url: '@Url.Action("Index","Home")',
                                    success: function () {
                                        window.location.reload();
                                    }
                                });
                            }
                        });
                    }
                });
            });

            $('#confirm').click(function () {
               $.ajax({
                   url: '@Url.Action("Confirmation", "Cart")',
                   success: function (message) {
                               alert(message);
                              window.location.reload();
                           }
});
          });
        });

    </script>
</head>
<body>
    <div class="panel panel-defaul" style="margin: 5% 2% 2% 2%; background-color:ghostwhite; color: black; font-size:15px ">
        <div class="panel-body">
            <h1>Shopping cart</h1>
            <table class="table table-hover">
                <tr>
                    <th style="text-align:left">TITLE</th>
                    <th style="text-align:left">GENRE</th>
                    <th style="text-align:right">PRICE</th>
                </tr>
                @{
                    double total = 0;
                }

                @foreach (var movie in Model)
                {
                    var moviePrice = movie.Price;
                    total = total + moviePrice;

                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td><button class="btn btn-danger delete col-sm-offset-2 col-sm-10" dataid="@item.Id">Remove</button></td>
                    </tr>

                }
            </table>
            <h2>
                Total sum: @(total) NOK
                <br />
                <br />
                <button class="btn btn-large btn-primary" id="confirm">@Html.ActionLink("Confirm your order", "Confirmation")</button>
            </h2>
        </div>
    </div>
</body>