@model List<MovieApp.Model.Movie>

@{
    ViewBag.Title = "ListMovies";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<h2>ListMovies</h2>

<p>
    @Html.ActionLink("Add New", "AddMovie")
</p>
<table class="table" style="background-color: white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ImageAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class="btn btn-success"})
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })

        </td>
    </tr>
}

</table>
