@model List<MovieApp.Model.Movie>

@{
    ViewBag.Title = "ListMovies";
}

<h2>ListMovies</h2>

<p>
    @Html.ActionLink("Add Movie", "AddMovie", "Movie", new { @class = "btn btn-primary" })
</p>
<table class="table" style="background-color: white">
    <tr>
        <th>
            ImageAddress
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageAddress)" style="width: 60px; height:auto" />
                @Html.DisplayFor(modelItem => item.ImageAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMovie", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteMovie", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
